<nav class="navbar navbar-dark livianav" >
    <a class="navbar-brand" [routerLink]="['/home']">
        SIS
    </a>
    <a [routerLink]="['/logout']" class="navbar pull-right logout">
        Logout
    </a>
</nav>
<br>
<div class="container">
    <br/><br/>
    {{ alert }}
    <div [hidden]="updated">
     <div class="row">
         <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card liviacard">
                    <div class="card-body">
                        <div class="text-center cyan-text">
                            <h3>Student update Form</h3>
                            <hr class="my-4">
                        </div>                
                    <form #fm="ngForm" (ngSubmit)="fm.form.valid && update()">
                    <div class="form-group">
                        <div class="has-float-label">                        
                        <input type="text" class="form-control" [(ngModel)]="model.firstname"
                        id="firstname" name="firstname" placeholder="firstname" required #firstname="ngModel">
                        <label for="firstname">Firstname</label>
                        <div *ngIf="fm.submitted && !firstname.valid" class="text-danger">
                            firstname is required
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="model.lastname"
                        id="lastname" name="lastname" placeholder="lastname" required #lastname="ngModel">
                        <label for="lastname">lastname</label>
                        <div *ngIf="fm.submitted && !lastname.valid" class="text-danger">
                            lastname is required
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-float-label">
                        <input type="text" class="form-control" [(ngModel)]="model.password"
                        id="password" name="password" placeholder="password" required #password="ngModel">
                        <label for="password">password</label>
                        <div *ngIf="fm.submitted && !password.valid" class="text-danger">
                            password is required
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-float-label">
                        <label for="phone">phone</label>
                        <input type="tel" class="form-control" required 
                        [(ngModel)]="model.phone" placeholder="phone" name="phone" id="phone" #phone="ngModel">
                        <div *ngIf="fm.submitted && !phone.valid" class="text-danger">
                            phone is required
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-float-label">
                        <label for="address">Level</label>
                        <select class="form-control" placeholder="lvl" [(ngModel)]="model.level" #lev="ngModel" name="level" >
                            <option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</option>
                        </select>
                        <div *ngIf="fm.submitted && !lev.valid" class="text-danger">
                            Level is required
                        </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid">Update</button>
                    
                </form>
            </div>
                </div>
            </div>
     </div>
    </div>
    <div [hidden]="!updated">
        <div class="row" *ngIf="updated">
            <h3>Updated</h3>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item active"><b>Name: </b> {{modelView.firstname}} {{modelView.lastname}}</li>
                    <li class="list-group-item"><b>Level: </b>{{modelView.level}}</li>
                    <li class="list-group-item"><b>Phone: </b>{{modelView.phone}}</li>
                </ul>
                <button class="btn btn-success" (click)="goBack()">Go Back to List</button>
            </div>
        </div>
    </div>
        <br/><br/><br/><br/>
</div>