<main>
    <login-form></login-form>
    <!--
  <div class="view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('./assets/students.jpg') no-repeat fixed center; height: 900px;">
    <div class="full-bg-img">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 600px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">SCHOOL <a class="indigo-text font-bold">INFORMATION SYSTEM</a></h1>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Welcome</h5>
                            <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">Register</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s">Login</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
</main>
<router-outlet></router-outlet>
<!--Footer-->
<footer class="page-footer blue center-on-small-only fixed-bottom">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright:<a href="https://github.com/LiviaLink/school_information_system.git"> Umeaduma Livinus</a>
        </div>
    </div>
</footer>