@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/*
html { 
    background: url(https://cdn.pixabay.com/photo/2017/08/11/01/37/back-to-school-2629361_960_720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
  }
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0,0,0,0.8) !important;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    filter: alpha(opacity=80); 
    color: white !important;
    
}
.content-wrapper{
    background-color: rgba(0, 0, 0,0.2) !important;
    min-height: 616px;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse.active span {
    
    transform: none;
   
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
}
  #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); 
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

form {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

input,
textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;
	
	

	background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);

	background-size: 0 2px, 100% 1px;

	background-position: 50% 100%, 50% 100%;


  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus,
textarea:focus{
 
	background-size: 100% 2px, 100% 1px;
	outline: none;
}
*/
/*
@import url(https://fonts.googleapis.com/css?family=PT+Sans|Lato:300,400,400i,700);@import url(https://fonts.googleapis.com/css?family=Niconne);
.fc{direction:ltr;text-align:left}.fc-rtl{text-align:right}body .fc{font-size:1em}.fc-unthemed th,.fc-unthemed td,.fc-unthemed thead,.fc-unthemed tbody,.fc-unthemed .fc-divider,.fc-unthemed .fc-row,.fc-unthemed .fc-popover{border-color:#ddd}.fc-unthemed .fc-popover{background-color:#fff}.fc-unthemed .fc-divider,.fc-unthemed .fc-popover .fc-header{background:#eee}.fc-unthemed .fc-popover .fc-header .fc-close{color:#666}.fc-unthemed .fc-today{background:rgba(103,58,183,0.2)}.fc-highlight{background:#bce8f1;opacity:.3;filter:alpha(opacity=30)}.fc-bgevent{background:#8fdf82;opacity:.3;filter:alpha(opacity=30)}.fc-nonbusiness{background:#d7d7d7}.fc-icon{display:inline-block;width:1em;height:1em;line-height:1em;font-size:1em;text-align:center;overflow:hidden;font-family:"Courier New", Courier, monospace;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fc-icon:after{position:relative;margin:0 -1em}.fc-icon-left-single-arrow:after{content:"\02039";font-weight:bold;font-size:200%;top:-7%;left:3%}.fc-icon-right-single-arrow:after{content:"\0203A";font-weight:bold;font-size:200%;top:-7%;left:-3%}.fc-icon-left-double-arrow:after{content:"\000AB";font-size:160%;top:-7%}.fc-icon-right-double-arrow:after{content:"\000BB";font-size:160%;top:-7%}.fc-icon-left-triangle:after{content:"\25C4";font-size:125%;top:3%;left:-2%}.fc-icon-right-triangle:after{content:"\25BA";font-size:125%;top:3%;left:2%}.fc-icon-down-triangle:after{content:"\25BC";font-size:125%;top:2%}.fc-icon-x:after{content:"\000D7";font-size:200%;top:6%}.fc button{box-sizing:border-box;margin:0;height:2.1em;padding:0 .6em;font-size:13px;font-weight:500;white-space:nowrap;cursor:pointer;text-transform:uppercase}.fc button::-moz-focus-inner{margin:0;padding:0}.fc-state-default{border:1px solid}.fc-state-default.fc-corner-left{border-top-left-radius:4px;border-bottom-left-radius:4px}.fc-state-default.fc-corner-right{border-top-right-radius:4px;border-bottom-right-radius:4px}.fc button .fc-icon{position:relative;top:-0.05em;margin:0 .2em;vertical-align:middle}.fc-state-default{background-color:#f5f5f5;background-image:linear-gradient(to bottom, #fff, #e6e6e6);background-repeat:repeat-x;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#333;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);outline:none}.fc-state-hover,.fc-state-down,.fc-state-active,.fc-state-disabled{color:#333333;background-color:#e6e6e6}.fc-state-hover{color:#333333;text-decoration:none;background-position:0 -15px;transition:background-position 0.1s linear}
.fc-state-down,.fc-state-active{background-color:#673AB7;color:#fff;background-image:none;box-shadow:none}.fc-state-disabled{cursor:default;background-image:none;opacity:0.65;filter:alpha(opacity=65);box-shadow:none}.fc-button-group{display:inline-block}.fc .fc-button-group>*{float:left;margin:0 0 0 -1px}.fc .fc-button-group>:first-child{margin-left:0}.fc-popover{position:absolute;box-shadow:0 2px 6px rgba(0,0,0,0.15)}.fc-popover .fc-header{padding:2px 4px}.fc-popover .fc-header .fc-title{margin:0 2px}.fc-popover .fc-header .fc-close{cursor:pointer}.fc-ltr .fc-popover .fc-header .fc-title,.fc-rtl .fc-popover .fc-header .fc-close{float:left}.fc-rtl .fc-popover .fc-header .fc-title,.fc-ltr .fc-popover .fc-header .fc-close{float:right}.fc-unthemed .fc-popover{border-width:1px;border-style:solid}.fc-unthemed .fc-popover .fc-header .fc-close{font-size:.9em;margin-top:2px}.fc-popover>.ui-widget-header+.ui-widget-content{border-top:0}.fc-divider{border-style:solid;border-width:1px}hr.fc-divider{height:0;margin:0;padding:0 0 2px;border-width:1px 0}.fc-clear{clear:both}.fc-bg,.fc-bgevent-skeleton,.fc-highlight-skeleton,.fc-helper-skeleton{position:absolute;top:0;left:0;right:0}.fc-bg{bottom:0}.fc-bg table{height:100%}.fc table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;font-size:1em;font-weight:500}.fc th{text-align:center}.fc th,.fc td{border-style:solid;border-width:1px;padding:0;vertical-align:top}.fc td.fc-today{border-style:double}.fc .fc-row{border-style:solid;border-width:0}.fc-row table{border-left:0 hidden transparent;border-right:0 hidden transparent;border-bottom:0 hidden transparent}.fc-row:first-child table{border-top:0 hidden transparent}.fc-row{position:relative}.fc-row .fc-bg{z-index:1}.fc-row .fc-bgevent-skeleton,.fc-row .fc-highlight-skeleton{bottom:0}.fc-row .fc-bgevent-skeleton table,.fc-row .fc-highlight-skeleton table{height:100%}.fc-row .fc-highlight-skeleton td,.fc-row .fc-bgevent-skeleton td{border-color:transparent}.fc-row .fc-bgevent-skeleton{z-index:2}.fc-row .fc-highlight-skeleton{z-index:3}.fc-row .fc-content-skeleton{position:relative;z-index:4;padding-bottom:2px}.fc-row .fc-helper-skeleton{z-index:5}.fc-row .fc-content-skeleton td,.fc-row .fc-helper-skeleton td{background:none;border-color:transparent;border-bottom:0}.fc-row .fc-content-skeleton tbody td,.fc-row .fc-helper-skeleton tbody td{border-top:0}.fc-scroller{overflow-y:scroll;overflow-x:hidden}.fc-scroller>*{position:relative;width:100%;overflow:hidden}.fc-event{position:relative;display:block;font-size:14px;padding:5px;line-height:1.3;border-radius:3px;border:1px solid #673AB7;background-color:#673AB7;font-weight:normal;margin-bottom:5px;cursor:all-scroll}
.fc-event,.fc-event:hover,.ui-widget .fc-event{color:#fff;text-decoration:none}.fc-event[href],.fc-event.fc-draggable{cursor:pointer}.fc-not-allowed,.fc-not-allowed .fc-event{cursor:not-allowed}.fc-event .fc-bg{z-index:1;background:#fff;opacity:.25;filter:alpha(opacity=25)}.fc-event .fc-content{position:relative;z-index:2}.fc-event .fc-resizer{position:absolute;z-index:3}.fc-ltr .fc-h-event.fc-not-start,.fc-rtl .fc-h-event.fc-not-end{margin-left:0;border-left-width:0;padding-left:1px;border-top-left-radius:0;border-bottom-left-radius:0}.fc-ltr .fc-h-event.fc-not-end,.fc-rtl .fc-h-event.fc-not-start{margin-right:0;border-right-width:0;padding-right:1px;border-top-right-radius:0;border-bottom-right-radius:0}.fc-h-event .fc-resizer{top:-1px;bottom:-1px;left:-1px;right:-1px;width:5px}.fc-ltr .fc-h-event .fc-start-resizer,.fc-ltr .fc-h-event .fc-start-resizer:before,.fc-ltr .fc-h-event .fc-start-resizer:after,.fc-rtl .fc-h-event .fc-end-resizer,.fc-rtl .fc-h-event .fc-end-resizer:before,.fc-rtl .fc-h-event .fc-end-resizer:after{right:auto;cursor:w-resize}.fc-ltr .fc-h-event .fc-end-resizer,.fc-ltr .fc-h-event .fc-end-resizer:before,.fc-ltr .fc-h-event .fc-end-resizer:after,.fc-rtl .fc-h-event .fc-start-resizer,.fc-rtl .fc-h-event .fc-start-resizer:before,.fc-rtl .fc-h-event .fc-start-resizer:after{left:auto;cursor:e-resize}.fc-day-grid-event{margin:1px 2px 0;padding:0 1px}.fc-day-grid-event .fc-content{white-space:nowrap;overflow:hidden}.fc-day-grid-event .fc-time{font-weight:bold}.fc-day-grid-event .fc-resizer{left:-3px;right:-3px;width:7px}a.fc-more{margin:1px 3px;font-size:.85em;cursor:pointer;text-decoration:none}a.fc-more:hover{text-decoration:underline}.fc-limited{display:none}.fc-day-grid .fc-row{z-index:1}.fc-more-popover{z-index:2;width:220px}.fc-more-popover .fc-event-container{padding:10px}.fc-toolbar{text-align:center;margin-bottom:1em}.fc-toolbar .fc-left{float:left}.fc-toolbar .fc-right{float:right}.fc-toolbar .fc-center{display:inline-block}.fc .fc-toolbar>*>*{float:left;margin-left:.75em}.fc .fc-toolbar>*>:first-child{margin-left:0}.fc-toolbar h2{margin:0;text-transform:uppercase;font-size:26px;color:#555}.fc-toolbar button{position:relative}.fc-toolbar .fc-state-hover,.fc-toolbar .ui-state-hover{z-index:2}.fc-toolbar .fc-state-down{z-index:3}.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active{z-index:4}.fc-toolbar button:focus{z-index:5}.fc-view-container *,.fc-view-container *:before,.fc-view-container *:after{box-sizing:content-box}.fc-view,.fc-view>table{position:relative;z-index:1}.fc-basicWeek-view .fc-content-skeleton,.fc-basicDay-view .fc-content-skeleton{padding-top:1px;padding-bottom:1em}.fc-basic-view .fc-body .fc-row{min-height:4em}
.fc-row.fc-rigid{overflow:hidden}.fc-row.fc-rigid .fc-content-skeleton{position:absolute;top:0;left:0;right:0}.fc-basic-view .fc-week-number,.fc-basic-view .fc-day-number{padding:0 2px}.fc-basic-view td.fc-week-number span,.fc-basic-view td.fc-day-number{padding-top:2px;padding-bottom:2px}.fc-basic-view .fc-week-number{text-align:center}.fc-basic-view .fc-week-number span{display:inline-block;min-width:1.25em}.fc-ltr .fc-basic-view .fc-day-number{text-align:right}.fc-rtl .fc-basic-view .fc-day-number{text-align:left}.fc-day-number.fc-other-month{opacity:0.3;filter:alpha(opacity=30)}.fc-agenda-view .fc-day-grid{position:relative;z-index:2}.fc-agenda-view .fc-day-grid .fc-row{min-height:3em}.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton{padding-top:1px;padding-bottom:1em}.fc .fc-axis{vertical-align:middle;padding:0 4px;white-space:nowrap}.fc-ltr .fc-axis{text-align:right}.fc-rtl .fc-axis{text-align:left}.ui-widget td.fc-axis{font-weight:normal}.fc-time-grid-container,.fc-time-grid{position:relative;z-index:1}.fc-time-grid{min-height:100%}.fc-time-grid table{border:0 hidden transparent}.fc-time-grid>.fc-bg{z-index:1}.fc-time-grid .fc-slats,.fc-time-grid>hr{position:relative;z-index:2}.fc-time-grid .fc-bgevent-skeleton,.fc-time-grid .fc-content-skeleton{position:absolute;top:0;left:0;right:0}.fc-time-grid .fc-bgevent-skeleton{z-index:3}.fc-time-grid .fc-highlight-skeleton{z-index:4}.fc-time-grid .fc-content-skeleton{z-index:5}.fc-time-grid .fc-helper-skeleton{z-index:6}.fc-time-grid .fc-slats td{height:1.5em;border-bottom:0}.fc-time-grid .fc-slats .fc-minor td{border-top-style:dotted}.fc-time-grid .fc-slats .ui-widget-content{background:none}.fc-time-grid .fc-highlight-container{position:relative}.fc-time-grid .fc-highlight{position:absolute;left:0;right:0}.fc-time-grid .fc-event-container,.fc-time-grid .fc-bgevent-container{position:relative}.fc-ltr .fc-time-grid .fc-event-container{margin:0 2.5% 0 2px}.fc-rtl .fc-time-grid .fc-event-container{margin:0 2px 0 2.5%}.fc-time-grid .fc-event,.fc-time-grid .fc-bgevent{position:absolute;z-index:1}.fc-time-grid .fc-bgevent{left:0;right:0}.fc-v-event.fc-not-start{border-top-width:0;padding-top:1px;border-top-left-radius:0;border-top-right-radius:0}.fc-v-event.fc-not-end{border-bottom-width:0;padding-bottom:1px;border-bottom-left-radius:0;border-bottom-right-radius:0}.fc-time-grid-event{overflow:hidden}.fc-time-grid-event .fc-time,.fc-time-grid-event .fc-title{padding:0 1px}.fc-time-grid-event .fc-time{font-size:.85em;white-space:nowrap}.fc-time-grid-event.fc-short .fc-content{white-space:nowrap}.fc-time-grid-event.fc-short .fc-time,.fc-time-grid-event.fc-short .fc-title{display:inline-block;vertical-align:top}
.fc-time-grid-event.fc-short .fc-time span{display:none}.fc-time-grid-event.fc-short .fc-time:before{content:attr(data-start)}.fc-time-grid-event.fc-short .fc-time:after{content:"\000A0-\000A0"}.fc-time-grid-event.fc-short .fc-title{font-size:.85em;padding:0}.fc-time-grid-event .fc-resizer{left:0;right:0;bottom:0;height:8px;overflow:hidden;line-height:8px;font-size:11px;font-family:monospace;text-align:center;cursor:s-resize}.fc-time-grid-event .fc-resizer:after{content:"="}::-moz-selection{color:#fff;background-color:#512e90}::selection{color:#fff;background-color:#512e90}.main-header .navbar{background-color:#673AB7}.main-header .navbar .top-nav>li>a{color:#fff}.main-header .navbar .top-nav>li>a:hover,.main-header .navbar .top-nav>li>a:active,.main-header .navbar .top-nav>li>a:focus{background:rgba(0,0,0,0.1);color:#f6f6f6}.main-header .navbar .top-nav .open>a{background:rgba(0,0,0,0.1);color:#f6f6f6}.main-header .navbar .top-nav .open>a:hover,.main-header .navbar .top-nav .open>a:focus{background:rgba(0,0,0,0.1);color:#f6f6f6}.main-header .navbar .top-nav>.active>a{background:rgba(0,0,0,0.1);color:#f6f6f6}.main-header .navbar .sidebar-toggle{color:#fff}.main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background-color:#5c34a4}.main-header .logo{background-color:#5c34a4;color:#fff;border-bottom:0 solid transparent}.main-sidebar{background-color:#222d32}.user-panel>.info{color:#fff}.user-panel>.info>a{color:#fff}.sidebar-menu>li>a{color:#fff}.sidebar-menu>li>a:hover{color:#fff}.sidebar-menu>li:hover>a,.sidebar-menu>li.active>a{color:#fff;background:#0d1214;border-color:#673AB7 !important}.sidebar-menu .treeview-menu{margin:0 1px;background:#2a383e}.sidebar-menu .treeview-menu>li>a{color:#fff}.sidebar-menu .treeview-menu>li>a:hover{color:#fff}.sidebar-menu .treeview-menu>li.active>a{color:#fff}.only-sidebar.sidebar-collapse .sidebar .logo .sidebar-toggle{color:#673AB7}.only-sidebar .sidebar .logo{color:#fff;background-color:#673AB7}.only-sidebar .sidebar .logo .sidebar-toggle{color:#fff}.only-sidebar .sidebar .user-panel:after{color:#fff}.fixed .main-header,.fixed .main-sidebar,.fixed .left-side{position:fixed}.fixed .main-header{top:0;right:0;left:0}.fixed .content-wrapper{margin-top:50px}@media (max-width: 767px){.fixed .content-wrapper{margin-top:100px}}.wrapper{min-height:100vh;position:static;overflow-x:hidden}.wrapper:before{content:" ";display:table}.wrapper:after{content:" ";clear:both}.content-wrapper{height:100%;z-index:800;background-color:#E5E5E5;margin-left:230px;z-index:820;padding:30px;transition:all 0.3s ease-in-out}@media (min-width: 768px){.sidebar-collapse .content-wrapper{margin-left:0}}
@media (max-width: 767px){.content-wrapper{margin-left:0}.sidebar-open .content-wrapper{-ms-transform:translate(230px, 0);transform:translate(230px, 0)}}@media (max-width: 480px){.content-wrapper{padding:10px}}.block{display:block}.light-text{font-weight:300 !important}.semibold-text{font-weight:600 !important}.line-head{padding-bottom:10px;border-bottom:1px solid #ddd}.p-10{padding:10px !important}.m-10{margin:10px !important}.p-20{padding:20px !important}.m-20{margin:20px !important}.p-40{padding:40px !important}.m-40{margin:40px !important}.pt-10{padding-top:10px !important}.mt-10{margin-top:10px !important}.pt-20{padding-top:20px !important}.mt-20{margin-top:20px !important}.pt-40{padding-top:40px !important}.mt-40{margin-top:40px !important}.pl-10{padding-left:10px !important}.ml-10{margin-left:10px !important}.pl-20{padding-left:20px !important}.ml-20{margin-left:20px !important}.pl-40{padding-left:40px !important}.ml-40{margin-left:40px !important}.pr-10{padding-right:10px !important}.mr-10{margin-right:10px !important}.pr-20{padding-right:20px !important}.mr-20{margin-right:20px !important}.pr-40{padding-right:40px !important}.mr-40{margin-right:40px !important}.pb-10{padding-bottom:10px !important}.mb-10{margin-bottom:10px !important}.pb-20{padding-bottom:20px !important}.mb-20{margin-bottom:20px !important}.pb-40{padding-bottom:40px !important}.mb-40{margin-bottom:40px !important}.p-0{padding:0 !important}.m-0{margin:0 !important}.mt-0{margin-top:0 !important}.mb-0{margin-bottom:0 !important}.ml-0{margin-left:0 !important}.mr-0{margin-right:0 !important}.pt-0{padding-top:0 !important}.pb-0{padding-bottom:0 !important}.pl-0{padding-left:0 !important}.pr-0{padding-right:0 !important}.main-header{position:relative;max-height:100px;z-index:1030}.main-header>.navbar{margin-bottom:20px;border:none;max-height:50px;border-radius:0}.main-header .sidebar-toggle{float:left;background-color:transparent;background-image:none;padding:11px 15px;font-family:fontAwesome;position:relative;transition:all 0.3s ease;max-height:50px}.main-header .sidebar-toggle:before{content:"\f0c9";font-size:21px}.main-header .sidebar-toggle:focus,.main-header .sidebar-toggle:active{background:transparent}.main-header .logo{display:block;width:230px;height:50px;font-family:'Niconne';font-size:26px;font-weight:400;line-height:50px;text-align:center;padding:0 15px;float:left;overflow:hidden}.main-header .navbar-brand{color:#fff}.main-header .top-nav{list-style:none;padding-left:0;display:inline-block;float:right;margin-bottom:0;margin-right:50px}.main-header .top-nav>li{display:inline-block;position:relative}.main-header .top-nav>li>a{display:block;padding:10px 15px;padding-top:15px;padding-bottom:15px;line-height:20px}
.main-header .top-nav .settings-menu li a{font-weight:500;text-transform:uppercase}.main-header .top-nav .notification-menu .dropdown-menu{min-width:230px}.main-header .top-nav .notification-menu .dropdown-menu i{width:auto}.main-header .top-nav .notification-menu .dropdown-menu .fa-stack{text-align:center}.main-header .top-nav .notification-menu .dropdown-menu .fa-stack-1x,.main-header .top-nav .notification-menu .dropdown-menu .fa-stack-2x{width:100%}.main-header .top-nav .notification-menu .dropdown-menu .fa-stack-2x{font-size:2em}.main-header .top-nav .notification-menu .media{display:block;border-bottom:1px solid #ddd}.main-header .top-nav .notification-menu .media .block:not(.text-muted){font-weight:500}.main-header .top-nav .notification-menu .not-head{padding:8px 20px;text-align:center;font-weight:500;background-color:rgba(103,58,183,0.4);color:#333}.main-header .top-nav .notification-menu .not-footer{text-align:center;background-color:#eee}@media (max-width: 767px){.main-header{position:relative}.main-header .logo{width:100%;float:none}.main-header .navbar{width:100%;float:none;margin:0}}@media (max-width: 768px){.main-header .top-nav{margin-right:20px}}.main-sidebar{position:absolute;top:0;left:0;padding-top:50px;min-height:100vh;width:230px;z-index:810;box-shadow:0px 8px 17px rgba(0,0,0,0.2);transition:transform 0.3s ease-in-out, width 0.3s ease-in-out}@media (max-width: 767px){.main-sidebar{padding-top:100px;-ms-transform:translate(-230px, 0);transform:translate(-230px, 0)}.sidebar-open .main-sidebar{-ms-transform:translate(0, 0);transform:translate(0, 0)}}@media (min-width: 768px){.sidebar-collapse .main-sidebar{-ms-transform:translate(-230px, 0);transform:translate(-230px, 0)}}.sidebar{padding-bottom:10px;font-family:"PT Sans","Hind","Segoe UI",sans-serif;font-size:16px}.sidebar .user-panel{position:relative;width:100%;padding:10px;margin-top:20px;margin-bottom:20px;overflow:hidden;white-space:nowrap}.sidebar .user-panel:before{content:" ";display:table}.sidebar .user-panel:after{content:" ";display:table;clear:both}.sidebar .user-panel>.image>img{width:100%;max-width:45px;height:auto}.sidebar .user-panel>.info{padding:5px 5px 5px 15px;line-height:1;position:absolute;left:55px}.sidebar .user-panel>.info>p{margin-top:2px;margin-bottom:5px;font-family:"Lato","Segoe UI",sans-serif;font-size:17px}.sidebar .user-panel>.info>.designation{font-size:13px}.sidebar-menu{list-style:none;margin:0;padding:0;white-space:nowrap;overflow:hidden}.sidebar-menu:hover{overflow:visible}.sidebar-menu>li{position:relative;margin:0;padding:0}.sidebar-menu>li>a{padding:12px 5px 12px 15px;display:block;position:relative;border-left:3px solid transparent}.sidebar-menu>li>a>.fa{width:25px}
.sidebar-menu>li .label,.sidebar-menu>li .badge{margin-top:3px;margin-right:5px}.sidebar-menu li.header{padding:10px 25px 10px 15px;font-size:12px;white-space:nowrap;overflow:hidden}.sidebar-menu li>a>.fa-angle-right{width:auto;height:auto;position:absolute;right:0;padding:0;float:none;margin-right:10px;margin-top:3px;transition:all 0.3s ease}.sidebar-menu li.active>a>.fa-angle-right{-ms-transform:rotate(90deg);transform:rotate(90deg);-ms-transform-origin:center;transform-origin:center}.sidebar-menu li.active>.treeview-menu{display:block}.sidebar-menu .treeview-menu{display:none;list-style:none;margin:0;padding-left:5px;padding-top:5px;padding-bottom:5px}.sidebar-menu .treeview-menu .treeview-menu{padding-left:20px}.sidebar-menu .treeview-menu>li{margin:0}.sidebar-menu .treeview-menu>li>a{padding:5px 5px 5px 15px;display:block;font-size:14px;position:relative}.sidebar-menu .treeview-menu>li>a>.fa-angle-left,.sidebar-menu .treeview-menu>li>a>.fa-angle-down{width:auto}.sidebar-menu .treeview-menu>li>a>i:first-of-type{margin-right:5px}@media (min-width: 768px){.sidebar-mini.sidebar-collapse .content-wrapper,.sidebar-mini.sidebar-collapse .main-footer{margin-left:50px !important;z-index:840}.sidebar-mini.sidebar-collapse .main-sidebar{-ms-transform:translate(0, 0);transform:translate(0, 0);width:50px !important;z-index:850}.sidebar-mini.sidebar-collapse .sidebar-menu>li{position:relative}.sidebar-mini.sidebar-collapse .sidebar-menu>li>a{margin-right:0;position:relative;transition:none}.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.fa-angle-right{display:none}.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span{border-top-right-radius:4px}.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span{border-bottom-right-radius:4px}.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu{padding-top:5px;padding-bottom:5px;border-bottom-right-radius:4px}.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{display:block !important;position:absolute;width:180px;left:50px}.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span{top:0;margin-left:-3px;padding:12px 5px 12px 20px;background-color:inherit}.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{top:46px;margin-left:0}.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info{display:none !important;transform:translateZ(0)}.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span,.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right{display:none !important;transform:translateZ(0)}.sidebar-mini.sidebar-collapse .sidebar-menu li.header{display:none !important;transform:translateZ(0)}}
.page-title{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-direction:row;flex-direction:row;background-color:#FFF;margin-top:-30px;margin-left:-30px;margin-right:-30px;margin-bottom:30px;padding:20px 30px;box-shadow:0 1px 2px rgba(0,0,0,0.1)}.page-title h1{margin:0;font-size:24px;font-weight:400}.page-title p{margin-bottom:0;font-style:italic}.page-title .breadcrumb{margin-bottom:0;text-align:right;font-weight:500;font-size:13px;text-transform:capitalize}.page-title .breadcrumb.side{margin-top:10px;text-align:left;padding:0}@media (max-width: 480px){.page-title{margin-top:-10px;margin-left:-10px;margin-right:-10px;padding:20px}}.dropdown-menu{right:0;left:auto;margin-top:0;border-radius:0;box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);border:0;padding:0}.dropdown-menu li a{position:relative;padding:8px 20px}.dropdown-menu li a i{width:20px;font-size:18px;vertical-align:middle}.open>.dropdown-menu{animation-name:scaleDrop;animation-duration:0.3s;animation-fill-mode:both;-ms-transform-origin:100% 0;transform-origin:100% 0}@keyframes scaleDrop{0%{opacity:0;transform:scale(0)}100%{opacity:1;transform:scale(1)}}.card{position:relative;background:#ffffff;border-radius:3px;padding:20px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);margin-bottom:30px;transition:all 0.3s ease-in-out}.card.small{padding:0}.card .overlay{background-color:rgba(255,255,255,0.9);display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;-ms-flex-direction:row;flex-direction:row;color:#555;border-radius:3px;position:absolute;top:0;right:0;bottom:0;left:0}.card .overlay .l-text{font-size:24px;margin-top:15px}.card .card-title{margin-top:0;margin-bottom:20px}.card .card-title-w-btn{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;margin-bottom:20px}.card .card-title-w-btn p{margin:0}.card .card-title-w-btn .title{margin:0}.card .card-title-w-btn .side{margin-bottom:0;padding-left:0}.card .card-footer{border-top:1px solid #ddd;padding:20px 0 0 0;margin-top:10px}.animated-checkbox input[type="checkbox"]{display:none}.animated-checkbox input[type="checkbox"]+.label-text{cursor:pointer !important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.animated-checkbox input[type="checkbox"]+.label-text:before{content:"\f096";font-family:"FontAwesome";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:18px;-webkit-font-smoothing:antialiased;width:1em;display:inline-block;margin-right:2px;vertical-align:-2px}
.animated-checkbox input[type="checkbox"]:checked+.label-text:before{content:"\f14a";color:#673AB7;animation:tick 180ms ease-in}.animated-checkbox input[type="checkbox"]:disabled+.label-text{cursor:not-allowed !important}.animated-checkbox input[type="checkbox"]:disabled+.label-text:before{content:"\f0c8";color:#ccc}.animated-radio-button input[type="radio"]{display:none}.animated-radio-button input[type="radio"]+.label-text{cursor:pointer !important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.animated-radio-button input[type="radio"]+.label-text:before{content:"\f1db";font-family:"FontAwesome";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:18px;-webkit-font-smoothing:antialiased;width:1em;display:inline-block;margin-right:2px;vertical-align:-2px}.animated-radio-button input[type="radio"]:checked+.label-text:before{content:"\f192";color:#673AB7;animation:tick 180ms ease-in}.animated-radio-button input[type="radio"]:disabled+.label-text{cursor:not-allowed !important}.animated-radio-button input[type="radio"]:disabled+.label-text:before{content:"\f111";color:#ccc}@keyframes tick{0%{transform:scale(0)}90%{transform:scale(1.4)}100%{transform:scale(1)}}.toggle.lg input[type="checkbox"]+.button-indecator:before{font-size:30px}.toggle input[type="checkbox"]{display:none}.toggle input[type="checkbox"]+.button-indecator{cursor:pointer;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.toggle input[type="checkbox"]+.button-indecator:before{content:"\f204";font-family:"FontAwesome";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;font-size:25px;-webkit-font-smoothing:antialiased;display:inline-block;margin-right:5px;vertical-align:-2px}.toggle input[type="checkbox"]:checked+.button-indecator:before{content:"\f205";color:#673AB7;animation:toggleBtn 0.3s ease-in-out}.toggle input[type="checkbox"]:disabled+.button-indecator{cursor:not-allowed !important}.toggle input[type="checkbox"]:disabled+.button-indecator:before{color:#ccc}.toggle-flip input[type="checkbox"]{display:none}.toggle-flip input[type="checkbox"]+.flip-indecator{position:relative;width:60px;height:30px;display:block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;perspective:90px}.toggle-flip input[type="checkbox"]+.flip-indecator:before,.toggle-flip input[type="checkbox"]+.flip-indecator:after{position:absolute;top:0;left:0;display:inline-block;width:100%;line-height:30px;backface-visibility:hidden;text-align:center;border-radius:3px;transition:all 0.5s ease}.toggle-flip input[type="checkbox"]+.flip-indecator:before{content:attr(data-toggle-off);background-color:#ddd}.toggle-flip input[type="checkbox"]+.flip-indecator:after{content:attr(data-toggle-on);background-color:#673AB7;color:#fff;transform:rotateY(-180deg)}.toggle-flip input[type="checkbox"]:checked+.flip-indecator:before{transform:rotateY(180deg)}.toggle-flip input[type="checkbox"]:checked+.flip-indecator:after{transform:rotateY(0deg)}.toggle-flip input[type="checkbox"]:disabled+.flip-indecator{cursor:not-allowed !important;color:#ccc}@keyframes toggleBtn{0%{opacity:0;transform:translateX(-1px)}100%{opacity:1;transform:translateX(0)}}.material-half-bg{height:100vh;background-color:#e7e7e7;position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1}.material-half-bg .cover{background-color:#673AB7;height:50vh}.m-loader{position:relative;width:40px}.m-loader:before{content:'';display:block;padding-top:100%}.m-circular{animation:rotate 1.5s linear infinite;height:100%;-ms-transform-origin:center center;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}.path{stroke-dasharray:1,200;stroke-dashoffset:0;stroke:#673AB7;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round}@keyframes rotate{100%{transform:rotate(360deg)}}@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}}.btn-spinner{display:inline-block;z-index:2000;width:15px;height:15px;position:relative;top:2px;margin-right:5px;border:solid 2px transparent;border-top-color:#fff;border-left-color:#fff;border-radius:10px;animation:bSpinner 0.8s linear infinite}@keyframes bSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.widget-small{display:-ms-flexbox;display:flex;border-radius:4px;color:#fff;margin-bottom:10px;box-shadow:0 1px 1px rgba(0,0,0,0.1)}.widget-small .icon{display:-ms-flexbox;display:flex;min-width:85px;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;padding:20px;background-color:rgba(0,0,0,0.2);border-radius:4px 0 0 4px}.widget-small .info{-ms-flex:1;flex:1;padding-left:20px;-ms-flex-item-align:center;align-self:center}.widget-small .info h4{text-transform:uppercase;margin:0;margin-bottom:5px;font-weight:400}.widget-small .info p{margin:0;font-size:16px}.widget-small.primary{background-color:#673AB7}.widget-small.primary.coloured-icon{background-color:#fff;color:#2a2a2a}.widget-small.primary.coloured-icon .icon{background-color:#673AB7;color:#fff}.widget-small.info{background-color:#2196F3}.widget-small.info.coloured-icon{background-color:#fff;color:#2a2a2a}.widget-small.info.coloured-icon .icon{background-color:#2196F3;color:#fff}.widget-small.warning{background-color:#FF9800}.widget-small.warning.coloured-icon{background-color:#fff;color:#2a2a2a}.widget-small.warning.coloured-icon .icon{background-color:#FF9800;color:#fff}.widget-small.danger{background-color:#F44336}.widget-small.danger.coloured-icon{background-color:#fff;color:#2a2a2a}.widget-small.danger.coloured-icon .icon{background-color:#F44336;color:#fff}.messanger{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column}.messanger .messages{-ms-flex:1;flex:1;margin:10px 0;padding:0 10px;max-height:260px;overflow-y:auto;overflow-x:hidden}.messanger .messages .message{display:-ms-flexbox;display:flex;margin-bottom:15px;-ms-flex-align:start;align-items:flex-start}.messanger .messages .message.me{-ms-flex-direction:row-reverse;flex-direction:row-reverse}.messanger .messages .message.me img{margin-right:0;margin-left:15px}.messanger .messages .message.me .info{background-color:#673AB7;color:#fff}.messanger .messages .message.me .info:before{display:none}.messanger .messages .message.me .info:after{position:absolute;right:-13px;top:0;content:'';width:0;height:0;border-style:solid;border-width:0 16px 16px 0;border-color:transparent #673AB7 transparent transparent;-ms-transform:rotate(270deg);transform:rotate(270deg)}.messanger .messages .message img{border-radius:50%;margin-right:15px}.messanger .messages .message .info{margin:0;background-color:#ddd;padding:5px 10px;border-radius:3px;position:relative;-ms-flex-item-align:start;align-self:flex-start}.messanger .messages .message .info:before{position:absolute;left:-14px;top:0;content:'';width:0;height:0;border-style:solid;border-width:0 16px 16px 0;border-color:transparent #ddd transparent transparent}.messanger .sender{display:-ms-flexbox;display:flex}.messanger .sender input[type="text"]{-ms-flex:1;flex:1;border:1px solid #673AB7;outline:none;padding:5px 10px}.messanger .sender button{border-radius:0}.product{display:-ms-flexbox;display:flex;margin-bottom:10px}.product img{margin-right:10px}.product .item-desc h4{margin-top:5px;margin-bottom:5px;font-size:16px}.product .item-desc p{margin-bottom:0}.user-list{padding:0 15px}.user-list .user img{border-radius:50%;max-width:50px;margin:0 auto;display:block}.user-list .user a{margin-top:10px;font-weight:500;max-width:100%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.login-content{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;min-height:100vh}.login-content .logo{margin-bottom:40px;font-family:'Niconne';color:#fff}.login-content .logo h1{font-size:52px}.login-content .login-box{position:relative;min-width:350px;min-height:390px;background-color:#fff;box-shadow:0px 29px 147.5px 102.5px rgba(0,0,0,0.05),0px 29px 95px 0px rgba(0,0,0,0.16);perspective:800px;transition:all 0.5s ease-in-out}.login-content .login-box .login-head{margin-top:0;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ddd;text-align:center}.login-content .login-box label{color:#666}.login-content .login-box .utility{display:-ms-flexbox;display:flex;padding:1px;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center}.login-content .login-box .btn-container{margin-bottom:0}.login-content .login-box .login-form,.login-content .login-box .forget-form{position:absolute;top:0;bottom:0;left:0;right:0;padding:40px;backface-visibility:hidden;transition:all 0.5s ease-in-out}.login-content .login-box .forget-form{opacity:0;transform:rotateY(180deg)}.login-content .login-box.flipped{min-height:300px}.login-content .login-box.flipped .login-form{opacity:0;transform:rotateY(-180deg)}.login-content .login-box.flipped .forget-form{opacity:1;transform:rotateY(0deg)}@media (max-width: 351px){.login-content .login-box{min-width:100%}.login-content .login-box .login-form,.login-content .login-box .forget-form{width:100%}}.lockscreen-content{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;min-height:100vh}.lockscreen-content .logo{font-family:'Niconne';margin-bottom:40px;color:#fff}.lockscreen-content .logo h1{font-size:52px}.lockscreen-content .lock-box{position:relative;min-width:320px;padding:20px 40px;background-color:#fff;box-shadow:0px 29px 147.5px 102.5px rgba(0,0,0,0.05),0px 29px 95px 0px rgba(0,0,0,0.16);perspective:800px;transition:all 0.5s ease-in-out}.lockscreen-content .lock-box .user-image{border:3px solid #fff;max-width:100px;display:block;margin:0 auto}.lockscreen-content .lock-box .user-name{margin-bottom:2px}.lockscreen-content .lock-box label{color:#666}.page-error{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;-ms-flex-direction:column;flex-direction:column;min-height:100vh}.page-error h1{margin:10px;color:#F44336;font-size:42px}.folder-head{padding:10px;margin-bottom:0 !important;border-bottom:1px solid #ddd}.mailbox-controls{margin-bottom:10px;border-bottom:1px solid #ddd;padding:0 0 10px 5px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}.mailbox-controls .animated-checkbox .label-text:before{vertical-align:-7px !important}.mail-nav>li>a{background-color:#fff;color:#2a2a2a;border-radius:0 !important;font-weight:500}.mailbox-messages table tr td{border:0 !important;padding:5px !important}.mailbox-messages .mail-subject{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:500px}.user .profile{margin:-30px -30px 0 -30px;display:-ms-flexbox;display:flex}.user .profile .info{padding:30px 60px;text-align:center;background-color:#fff;white-space:nowrap;background-color:#404040;color:#fff}.user .profile .info img{border-radius:50%;max-width:110px;margin-bottom:20px;margin-top:10px}.user .profile .cover-image{-ms-flex:1;flex:1;background-image:url(http://placeimg.com/1200/300/nature);background-size:cover;background-position:center}.user .user-tabs{margin-top:20px}.user .user-tabs>li.active>a{border-left:3px solid #673AB7;border-bottom:0;background-color:#eee !important}.user .user-tabs>li>a{border-left:3px solid transparent;padding:12px 15px;border-bottom:0;font-size:15px}.user .user-tabs>li>a:hover,.user .user-tabs>li>a:active{background-color:#eee !important;border-bottom:0}.user .tab-content{margin:20px -10px -10px}.user .timeline .post{background-color:#fff;padding:20px;margin-bottom:20px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)}.user .timeline .post .post-media{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;margin-bottom:15px}.user .timeline .post .post-media img{margin-right:10px}.user .timeline .post .post-media h5{margin-top:0;margin-bottom:3px;font-size:15px}.user .timeline .post .post-content{margin-bottom:20px}.user .timeline .post .post-utility{display:-ms-flexbox;display:flex;list-style:none;padding-left:0;margin-bottom:0}.user .timeline .post .post-utility .likes,.user .timeline .post .post-utility .shares{margin-right:10px}.user .timeline .post .post-utility .likes a,.user .timeline .post .post-utility .shares a{color:#555}.user .timeline .post .post-utility .comments{color:#555;-ms-flex:1;flex:1;text-align:right}.user .user-settings .line-head{font-size:18px;margin-bottom:30px;color:#2a2a2a}.user .user-settings label{color:#666}
*/

#loading {
    /*background: #f4f4f2 url("https://s.bootsnipp.com/iframe/img/page-bg.png") repeat scroll 0 0;*/
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}
.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {
100% {
    transform: rotate(360deg);
}
}


/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  background: url('app/assets/images/students.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: rgba(48, 53, 70, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  color: aliceblue;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
}

.cover-heading {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 3.4rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 500px;
  margin: 0 auto 3rem;
}

/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Subscribe modal box
 */
#subscribeModal .modal-content {
  background-color: #303546;
  color: #fff;
  text-align: left;
  opacity: 0.9;
}

#subscribeModal .modal-header, #subscribeModal .modal-footer {
  border: 0;
}

#subscribeModal .close {
  color: #fff;
}

#subscribeModal .form-control {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#subscribeModal .form-control:focus {
  border-color: #49506a;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1060px;
  }
}
app-roo {
    margin-bottom: 50px;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: rgba(48, 53, 70, 0.7);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.livianav{
    opacity: 0.8;
    background: #303546;
}
.logout{
    background: #49506a;
    color: #fff;
}
.liviacard{
    background: #000;
    opacity: 0.9;
    margin-right: 30%;
    margin-left:  30%;
    margin:  auto;
}