<div class="container">
    <br/><br/>
    {{ alertt }}
     <div class="row">
            <div class="col-md-3-offset col-md-6 pull-right">
                <h2>Student Registeration Form</h2>               
                <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerModel.username"
                    id="username" name="username" required #username="ngModel">
                    <div *ngIf="registerForm.submitted && !username.valid" class="text-danger">
                        username is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="registerModel.email"
                    id="email" name="email" required #email="ngModel">
                    <div *ngIf="registerForm.submitted && !email.valid" class="text-danger">
                        Email is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="text" class="form-control" [(ngModel)]="registerModel.password"
                    id="password" name="password" required #password="ngModel">
                    <div *ngIf="registerForm.submitted && !password.valid" class="text-danger">
                        password is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone">phone</label>
                    <input type="tel" class="form-control" required 
                    [(ngModel)]="registerModel.phone" name="phone" id="phone" #phone="ngModel">
                    <div *ngIf="registerForm.submitted && !phone.valid" class="text-danger">
                        phone is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">address</label>
                    <input type="text" class="form-control" required 
                    [(ngModel)]="registerModel.address" name="address" id="address" #address="ngModel">
                    <div *ngIf="registerForm.submitted && !address.valid" class="text-danger">
                        address is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname">firstname</label>
                    <input type="text" class="form-control" required 
                    [(ngModel)]="registerModel.firstname" name="firstname" id="firstname" #firstname="ngModel">
                    <div *ngIf="registerForm.submitted && !firstname.valid" class="text-danger">
                        firstname is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname">lastname</label>
                    <input type="text" class="form-control" required 
                    [(ngModel)]="registerModel.lastname" name="lastname" id="lastname" #lastname="ngModel">
                    <div *ngIf="registerForm.submitted && !lastname.valid " class="text-danger">
                        lastname is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="state">state</label>
                    <input type="text" class="form-control" required 
                    [(ngModel)]="registerModel.state" name="state" id="state" #state="ngModel">
                    <div *ngIf="registerForm.submitted && !state.valid" class="text-danger">
                        state is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="level">level</label>
                    <select class="form-control"  [(ngModel)]="registerModel.level" name="level" >
                        <option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="faculty">Faculty</label>
                    <select class="form-control" #fac (change)="getDept(fac.value)" [(ngModel)]="selectedValue"  name="faculty" >
                        <option #val *ngFor="let fac of faculties" [value]="fac[1]">{{fac[0]}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deptId">department</label>
                    <select class="form-control" #department="ngModel" id="deptId" name="deptId" [(ngModel)]="registerModel.deptId">
                        <option *ngFor="let dept of departments" [value]="dept[2]">{{ dept[0] }}({{dept[1]}})</option>                            
                    </select>
                    <div *ngIf="registerForm.submitted && !department.valid" class="text-danger">
                        department is required
                    </div>
                </div>
                <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
</div>

<br/><br/><br/>