<nav class="navbar navbar-dark livianav" >
    <a class="navbar-brand" [routerLink]="['/home']">
        SIS
    </a>
    <a [routerLink]="['/logout']" class="navbar pull-right logout">
        Logout
    </a>
</nav>
<br>
<div class="container">
    <br/>
    {{ alert }}
    <div [hidden]="getdetail">
     <div class="row">         
            <div class="col-md-12">
                <div class="card liviacard">
                    <div class="card-body">
                        <div class="text-center cyan-text">
                            <h3>Student's List</h3>                           
                        </div>
                    <form>
                        <div class="form-group">
                            <div class="has-float-label">
                                <select class="form-control" [(ngModel)]="selectedValue" #lev (change)="getStd(lev.value)" name="level">
                                    <option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</option>
                                </select>
                                <label for="level">Level</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div><br>
     <div class="row">
         <div class="col-md-12">
            <div *ngIf="selectedValue" class="table table-reponsive">
                <table class="table text-left">
                    <thead>
                        <th>name</th>
                        <th>phone</th>
                        <th>More</th>
                    </thead>
                    <tr *ngFor="let mode of model">
                        <td>{{mode.firstname}} {{mode.lastname}}</td>
                        <td>{{mode.phone}}</td>
                        <td >
                            <div class="btn-group">
                                <a (click)="delete(mode)" ><i title="delete" class="fa fa-trash fa-xs"></i></a>&nbsp;&nbsp;
                                <a (click)="getDetails(mode)"><i class="fa  fa-list fa-xs" title="detail"></i></a>&nbsp;&nbsp;
                                <a (click)="update(mode.id)"><i class="fa  fa-edit fa-xs" title="update"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
         </div>
        </div>
    </div>
    <div [hidden]="!getdetail">
        <div class="row">
            <div class="col-md-12">
                <div class="card liviacard">
                    <div class="card-body">
                        <div class="text-center cyan-text">
                            <h3>Student's Details</h3>                           
                        </div>             
                        <div *ngIf="selectedValue" class="table table-reponsive">
                            <div class="panel">
                                <div class="panel-header">
                                    <h5>{{modelDetail.username}} details</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Name: </b>{{modelDetail.firstname}} {{modelDetail.lastname}}</li>
                                    <li class="list-group-item"><b>Email: </b>{{modelDetail.email}}</li>
                                    <li class="list-group-item"><b>Username: </b>{{modelDetail.username}}</li>
                                    <li class="list-group-item"><b>Phone: </b>{{modelDetail.phone}}</li>
                                    <li class="list-group-item"><b>Activated: </b>{{modelDetail.status}}</li>
                                    <li class="list-group-item"><b>Address: </b>{{modelDetail.address}}</li>
                                    <li class="list-group-item"><b>State: </b>{{modelDetail.state}}</li>
                                    <a class="btn btn-default" (click)="getdetail = !getdetail">Back</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>